<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Inter_28pt-Regular.ttf</string>
		<string>Inter_28pt-Medium.ttf</string>
		<string>Inter_28pt-SemiBold.ttf</string>
		<string>Inter_28pt-Bold.ttf</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>backgroundClr</string>
	</dict>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We need access to your photos to create AI videos</string>
	<key>UIDesignRequiresCompatibility</key>
	<true/>
</dict>
</plist>
